{% extends '../base.html' %}

{% block body %}	
    <div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3>1. Copy backend URL to pasteboard</h3>
			<code>{{ backendUrl }}</code>
			 
			<h3>2. Paste URL into Watson Personality Insights template configuration window in Kinetise</h3>
			<img src="/img/dashboard.png" class="img-thumbnail"/>			
					
			<h3>3. See what this app is about</h3>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/3vr_zNjeypU" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
{% endblock %}