{% extends '../base.html' %}

{% block body %}	
    <div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3>1. Copy backend URL to pasteboard</h3>
			<code>{{ backendUrl }}</code>
			 
			<h3>2. Paste URL into Watson Personality Insights template configuration window in Kinetise</h3>
			<img src="/img/paste_url.png" class="img-thumbnail"/>			
					
			<h3>3. Click OK and that's it! You can preview the app, modify it and BUILD it for use on real mobile devices</h3>
			
		</div>
	</div>
{% endblock %}